<footer class="footer">
    <div class="container">
        <div class="text-center">TripTrack - &#169; 2017, {{'Footer.Right'|translate}} -
            <span>{{ nbUserConnected }}</span> {{'Footer.CountOnline'|translate}}
            <select (change)="switchLanguage($event.target.value)">
                <option *ngFor="let lang of translate.getLangs()" [ngValue]="lang" [selected]="getCurrentLanguage() == lang">{{ lang }}</option>
            </select>
        </div>
    </div>
</footer>