@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

/*
 * _________________________________________
 * =========================================|
 * ================ GENERAL ================|
 * =========================================|
 * _________________________________________|
 */
body,
html {
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
}

html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
  /* box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: 0.5s duration timing-function delay;
  -moz-transition: 0.5s duration timing-function delay;
  transition: 0.5s duration timing-function delay; */
}

.alert{
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  top: 100px;
  z-index: 7000;
  text-align: center;
}

span {
  font-style: italic;
  font-weight: 400;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.top-panel{
  background-color: #f8f8f8;
  padding: 12px 0;
  border-bottom-color: #cbcbcb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: 300;
}

.main-panel{
  padding: 0;
  margin: 0;
}
/*
 * _________________________________________
 * =========================================|
 * ================ HEADER =================|
 * =========================================|
 * _________________________________________|
 */

header {
  width: 100%;
  background-color: #ff6666;
  /* z-index: 1; */
  /* -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.60);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.60);
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.60); */
}

/*
 * _________________________________________
 *    >> ===================================|
 *    >> ============= NAVBAR ==============|
 *    >> ===================================|
 * _________________________________________|
 */
.navbar .nav > li {
  z-index: 1001;
}

.navbar-brand {
  color: #ffffff;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
}

.n-l-c {
  color: #ffffff;
  font-weight: 300;
  border-radius: 5px;
  transition: all 0.1s;
}

.n-l-c:hover {
  color: #ffffff;
  background-color: #e43f3f;
  /* transition-property: width;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: .5s; */
}

.nav-span:hover {
  color: inherit;
}

.dropdown-menu {
  background-color: #ffffff;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #ff6666;
  border-width: 1px;
  z-index: 1000000;
}

/*
 * _________________________________________
 * =========================================|
 * ================= BODY ==================|
 * =========================================|
 * _________________________________________|
 */

.container-fluid {
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}

#wrapper {
  height: auto; /* These two lines were the key. */
  min-height: 100%;
  /*overflow:   hidden;*/ /* Do not use this, it crops in small browsers. */
  margin: 0px auto;
  padding: 0px auto;
}

/*
 * _________________________________________
 * >> ======================================|
 * >> ============ home-page ===============|
 * >> ======================================|
 * _________________________________________|
 */

.home-page {
}

.home-page-background {
  /* background: url("/img/backgrounds/signin-page-background.jpg") no-repeat ,eiffel-tower,statue&nbsp;of&nbsp;liberty,washington,san&nbsp;francisco,paris,brussels,atomium,berlin,amsterdam,big&nbsp;ben,london,new&nbsp;york,dubaï,los&nbsp;angeles
    center center fixed; */
  background: url("https://source.unsplash.com/collection/1439201/") no-repeat
    center center fixed;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  transform: scale(1.1);
}

#home-page-title {
  color: #ffffff;
  font-size: 18px;
}

#main-title {
  z-index: 9999;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
  letter-spacing: -0.05em;
  font-size: 4em;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}

.signin-container,
.signup-container {
  z-index: 0;
  background-color: #ff666685;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

.auth-page {
  min-width: 400px;
  max-width: 400px;
}

/*
 * _________________________________________
 * >> >> ===================================|
 * >> home-container.signin-container ======|
 * >> ======================================|
 * _________________________________________|
 */

.signin-container hr {
  border-color: #44444433;
}

.remember-forgot {
  font-size: 14px;
  color: #efefef;
}

.remember-forgot > span {
  font-weight: 800;
}

.remember-forgot a {
  color: #efefef;
  font-weight: 600;
}

/*
 * _________________________________________
 * >> >> ===================================|
 * >> home-container.signup-container ======|
 * >> ======================================|
 * _________________________________________|
 */

.signup-container h1 {
  font-size: 1.5em;
  letter-spacing: -0.05em;
  color: #ffffff;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  margin: 0;
}

.signup-container .cgu {
  padding: 0 10px;
  color: #4b4b4b;
  font-size: 0.8em;
}

/*
 * _________________________________________
 * =========================================|
 * =========== travels-list-page ===========|
 * =========================================|
 * _________________________________________|
 */

#sidebar-wrapper {
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

#sidebar {
  position: relative;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

#sidebar .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-weight: 300;
  text-align: center;
}

#sidebar #add-travel-btn {
  background-color: #313131;
  color: #ffffff;
}

.travels-list-page #travel-details {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

/*
 * _________________________________________
 * >> ======================================|
 * >> ========= modify-profile-page ========|
 * >> ======================================|
 * _________________________________________|
 */
.modify-profile-page{
  background-color: #ffffff;
}






/*
 * _________________________________________
 * >> ======================================|
 * >> ============== help-page =============|
 * >> ======================================|
 * _________________________________________|
 */
.help-page #help-links-container {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ff6666;
}

.help-page #help-links-container .list-group {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.help-page #help-links-container .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: #313131;
  background-color: #fafafa;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}

.help-page #help-links-container .list-group-item:focus,
.help-page #help-links-container .list-group-item:hover,
.help-page #help-links-container .list-group-item:active {
  text-decoration: underline;
}

/*
 * _________________________________________
 * >> ======================================|
 * >> ============ forgot-page =============|
 * >> ======================================|
 * _________________________________________|
 */

.forgot-page #forgot-container {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ff6666;
}

/*
 * _________________________________________
 * >> ======================================|
 * >> ======== confirm-email-page ==========|
 * >> ======================================|
 * _________________________________________|
 */
.confirm-email-page #confirm-container{
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ff6666;
  text-align: center;
}


/*
 * _________________________________________
 * >> ======================================|
 * >> ====== resend-verif-email-page =======|
 * >> ======================================|
 * _________________________________________|
 */
.resend-verif-email-page #resend-container {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ff6666;
}

/*
 * _________________________________________
 * >> ======================================|
 * >> ========= unauthorized-page ==========|
 * >> ======================================|
 * _________________________________________|
 */

.unauthorized-page {
  text-align: center;
}

.unauthorized-page h1 {
  font-family: "Raleway";
  color: #4b4b4b;
  font-size: 200px;
  font-weight: 600;
  margin: 0;
}

.unauthorized-page h2 {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 200;
  margin: 0;
}

.unauthorized-page p {
  font-size: 25px;
  font-weight: 100;
}

/*
 * _________________________________________
 * >> ======================================|
 * >> ============= 404-page ===============|
 * >> ======================================|
 * _________________________________________|
 */

.page-not-found-page {
  text-align: center;
}

.page-not-found-page h1 {
  font-family: "Raleway";
  color: #4b4b4b;
  font-size: 200px;
  font-weight: 600;
  margin: 0;
}

.page-not-found-page h2 {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 200;
  margin: 0;
}

.page-not-found-page p {
  font-size: 25px;
  font-weight: 100;
}

/*
 * _________________________________________
 * =========================================|
 * ================ FOOTER =================|
 * =========================================|
 * _________________________________________|
 */
.footer {
  width: 100%;
  /* bottom: -60px; */
  /* margin-bottom: 0; */
  height: 60px;
  line-height: 60px;
  background-color: #161616;
  color: #ffffff;
  font-size: 14px;
}

.footer p {
  margin-bottom: 0;
}

/*
 * _________________________________________
 * =========================================|
 * ================= TITLE =================|
 * =========================================|
 * _________________________________________|
 */

h1, h2, h3, h4 {
  font-family: "Raleway";
}

/*
 * _________________________________________
 * =========================================|
 * ================ BUTTON =================|
 * =========================================|
 * _________________________________________|
 */

button[type="submit"] {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.btn-cu {
  font-weight: 700;
  border-width: 2px;
  transition: all 0s ease-in-out;
}

.btn-cu-grp {
  padding: 20px 0 0 0;
}

/* white */
.btn-cu-w {
  color: #ff6666;
  background-color: rgb(255, 255, 255);
  border-color: #ffffff;
}

.btn-cu-w:hover,
.btn-cu-w:active,
.btn-cu-w:focus {
  background-color: rgba(255, 255, 255, 0.8);
  color: #ff6666;
}

.btn-cu-outline-w {
  color: #ededed;
  background-color: rgba(255, 255, 255, 0);
  border-color: #ededed;
}

.btn-cu-outline-w:hover,
.btn-cu-outline-w:active,
.btn-cu-outline-w:focus {
  /* background-color: rgba(255, 255, 255, 0.8); */
  color: #ffffff;
  border-color: #ffffff;
}

/* blue */
.btn-cu-bl {
  color: #ffffff;
  background-color: #0084ff;
}

.btn-cu-bl:hover,
.btn-cu-bl:active,
.btn-cu-bl:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-cu-grey {
  color: #ffffff;
  background-color: #c4c4c4;
  border-color: #c4c4c4;
}

.btn-cu-grey:hover,
.btn-cu-grey:active,
.btn-cu-grey:focus {
  background-color: #c4c4c4b0;
  color: #ffffff;
}

.btn-cu-ttc {
  background-color: #ff6666;
  color: #ffffff;
}

.btn-cu-ttc:hover,
.btn-cu-ttc:active,
.btn-cu-ttc:focus {
  background-color: #ff6666cc;
  color: #ffffff;
}

.btn-rnd {
  border-radius: 100px;
}

/*
 * _________________________________________
 * =========================================|
 * ================= LINKS =================|
 * =========================================|
 * _________________________________________|
 */

a {
  cursor: pointer;
  font-weight: 500;
}

a:hover,
a:active {
  /*text-decoration: underline;*/
}

a.danger {
  color: red;
}

/*
 * _________________________________________
 * =========================================|
 * ================= INPUT =================|
 * =========================================|
 * _________________________________________|
 */
input[type="text"],
textarea {
  background-color: #ffffff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.6);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input::-moz-placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
}

input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
}

input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
}

input:-moz-placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
}

/*
 * _________________________________________
 * =========================================|
 * ================= OTHERS ================|
 * =========================================|
 * _________________________________________|
 */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.absolute-center.is-responsive {
  width: 50%;
  height: 75%;
  padding: 40px;
}

.spacing {
  margin-bottom: 20px;
}
