<div class="home-page-background"></div>
<div id="wrapper" class="row forgot-page">
    <alert></alert>
        <div class="offset-sm-3 col-sm-6">
            <div class="h-75 row align-items-center">
                <div id="forgot-container" class="col rounded">
                    <h3>{{'Forgot.Looking'|translate}}</h3>
                    <hr>
                    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">{{'Forgot.Email'|translate}}
                            </label>
                            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
                        </div>
                        <button class="btn btn-cu btn-cu-ttc center-block" type="submit">{{'Forgot.Submit'|translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>