<div class="home-page-background"></div>
<div id="wrapper" class="row forgot-page">
    <alert></alert>
    <div class="offset-sm-3 col-sm-6">
        <div class="h-75 row align-items-center">
            <div id="forgot-container" class="col rounded">
                <h3>Reset your password</h3>
                <hr>
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">New password
                        </label>
                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="New password">
                    </div>
                    <div class="form-group">
                        <label for="text">Confirm password
                        </label>
                        <input type="password" id="password" class="form-control" formControlName="newPassword" placeholder="Confirm password">
                    </div>
                    <button class="btn btn-cu btn-cu-ttc center-block" type="submit" [disabled]="!resetForm.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>