<div id="wrapper" class="row confirm-email-page">
    <alert></alert>
    <div class="offset-sm-3 col-sm-6">
        <div class="h-75 row align-items-center">
            <div id="confirm-container" class="col rounded">
                <div *ngIf="isVerified(); else elseBlock">
                    <i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i>
                    <h1>{{'Confirmaccount.Welcome'|translate}}</h1>
                    <p>{{'Confirmaccount.Verified'|translate}}</p>
                    <button [routerLink]="['/auth/signin']" class="btn btn-cu btn-cu-ttc" type="submit">Go to the login page</button>
                </div>
                <ng-template #elseBlock>
                    <i class="fa fa-lock fa-5x" aria-hidden="true"></i>
                    <h1>{{'Confirmaccount.Oops'|translate}}</h1>
                    <p>{{'Confirmaccount.Error'|translate}}</p>
                    <button [routerLink]="['/user/verify/resend']" class="btn btn-cu btn-cu-ttc" type="submit">{{'Confirmaccount.Resend'|translate}}</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>