<div id="wrapper" class="row resend-verif-email-page">
    <div class="offset-sm-3 col-sm-6">
        <div class="h-75 row align-items-center">
            <div id="resend-container" class="col rounded">
                    <h3>{{'Resend.Title'|translate}}</h3>
                    <hr>
                    <form [formGroup]="resendForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">{{'Resend.Mail'|translate}}
                            </label>
                            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
                        </div>
                        <button class="btn btn-cu btn-cu-ttc" type="submit">{{'Resend.Submit'|translate}}</button>
                    </form>
            </div>
        </div>
    </div>
</div>