<app-header></app-header>
<div id="wrapper" class="row page-not-found-page">
    <div class="offset-sm-3 col-sm-6">
        <div class="h-75 row align-items-center">
            <div class="col">
                <h1>{{'PageNotFound.404'|translate}}</h1>
                <h2>
                    <b>{{'PageNotFound.Oops'|translate}}</b> {{'PageNotFound.Nothing'|translate}}</h2>
                <p>{{'PageNotFound.Exist'|translate}}</p>
                <a class="btn btn-cu btn-rnd btn-cu-grey" [routerLink]="['/']">{{'PageNotFound.Back'|translate}}</a>
            </div>
        </div>
    </div>
</div>