<div id="wrapper" class="row home-page">
    <div class="col-sm-12">
            <alert></alert>
    </div>
    <div class="home-page-background"></div>
    <div class="offset-sm-4 col-sm-4 align-items-center">
        <div class="h-100 row ">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>