<div class="home-page-background"></div>
<div id="wrapper" class="row help-page">
    <div class="offset-sm-3 col-sm-6">
        <div class="h-75 row align-items-center">
            <div id="help-links-container" class="col rounded">
                <h2>{{'Help.How'|translate}}</h2>
                <ul class="list-group">
                    <li>
                        <a id="add-travel-btn" class="list-group-item" [routerLink]="['/user/forgot']">
                            {{'Help.Forgot'|translate}}
                        </a>
                    </li>
                    <li>
                        <a id="add-travel-btn" class="list-group-item" [routerLink]="['/user/verify/resend']">
                            {{'Help.Resend'|translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>