
<div class="col-md-8 col-md-offset-2">
    
    <ul id="stopoversList" class="nav list-group">
            <app-stopover [stopover]="stopover" *ngFor="let stopover of stopovers"></app-stopover>
    </ul>

</div>