<div id="wrapper" class="row modify-profile-page">
    <alert></alert>
    <div class="main-panel col-sm-12">
        <div class="top-panel">
            <div class="offset-sm-2 col-sm-8">
                <h4>{{ 'Profile.Title' | translate}}</h4>
            </div>
        </div>
        <div id="profile-component" class="offset-sm-2 col-sm-8">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">{{'Profile.Firstname'|translate}}</label>
                    <input type="text" id="firstName" [ngModel]="user?.givenName" class="form-control" formControlName="givenName" placeholder="First name">
                </div>
                <div class="form-group">
                    <label for="lastName">{{'Profile.Lastname'|translate}}</label>
                    <input type="text" id="lastName" [ngModel]="user?.familyName" class="form-control" formControlName="familyName" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="username">{{'Profile.Username'|translate}}</label>
                    <input type="text" id="username" [ngModel]="user?.username" class="form-control" formControlName="username" placeholder="username"
                    />
                </div>
                <div class="form-group">
                    <label for="email">{{'Profile.Email'|translate}}</label>
                    <input type="email" id="email" [ngModel]="user?.emails[0].value" class="form-control" formControlName="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="nationality">{{'Profile.Nationality'|translate}}</label>
                    <select [ngModel]="user?.nationality" id="nationality" class="form-control" formControlName="nationality">
                        <option *ngFor="let c of countries" [ngValue]="c.name">{{c.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="website">{{'Profile.Website'|translate}}</label>
                    <input type="text" id="website" [ngModel]="user?.webUrl" class="form-control" formControlName="webUrl" placeholder="website">
                </div>
                <div class="form-group">
                    <label for="description">{{'Profile.Bio'|translate}}</label>
                    <textarea id="password" [ngModel]="user?.description" class="form-control" formControlName="description" placeholder="description">
                                    </textarea>
                </div>
                <button class="btn btn-cu btn-cu-ttc" type="submit">{{'Profile.Save'|translate}}</button>
            </form>
        </div>
    </div>
</div>