<div class="offset-sm-1 col-sm-10 signin-container rounded">
    <img src="/assets/logo/TripTrap_logo.png" class="d-inline-block" alt="" width="30px" height="30px">
    <span id="home-page-title" class="d-inline-block align-bottom" style="margin: 0;">{{'AuthForm.LoginTitle' | translate}}</span>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email"></label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="{{'AuthForm.Email' | translate}}">
            <label for="password"></label>
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="{{'AuthForm.Password' | translate}}">
        </div>
        <div class="remember-forgot">
            <label for="remember-me">
                <input type="checkbox" value="true" name="remember" formControlName="remember" checked="checked">
                <span>{{'AuthForm.RememberMe' | translate}}</span>
            </label>
            <span>·</span>
            <a [routerLink]="['/user/help']">{{'AuthForm.CantConnect' | translate}}</a>
        </div>
        <button class="btn btn-cu btn-cu-w btn-block" type="submit" id="submit" role="button">{{'AuthForm.Login'|translate}}</button>
        <a class="btn btn-cu btn-cu-outline-w btn-block" [routerLink]="['../signup']">{{'AuthForm.Register'|translate}}</a>
    </form>
    <hr>
    <div class="form-group">
        <a href="/auth/signin/facebook" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook">
            </i>
            {{'AuthForm.Facebook' | translate}}
        </a>
        <a href="/auth/signin/google" class="btn btn-block btn-social btn-google">
            <i class="fa fa-google">
            </i>
            {{'AuthForm.Google' | translate}}
        </a>
    </div>
</div>