<app-header></app-header>
<div id="wrapper" class="row unauthorized-page">
    <div class="offset-sm-2 col-sm-8">
        <div class="h-75 row align-items-center">
            <div class="col">
                <h1>{{'Unauthorized.401'|translate}}</h1>
                <h2>
                    <b>{{'Unauthorized.Arg'|translate}}!</b> {{'Unauthorized.Nothing'|translate}}</h2>
                <p>{{'Unauthorized.Exist'|translate}}</p>
                <a class="btn btn-cu btn-rnd btn-cu-grey" [routerLink]="['/']">{{'Unauthorized.Back'|translate}}</a>
            </div>
        </div>
    </div>
</div>