<div class="col-md-12">
    <form [formGroup]="searchForm" class="col-md-12" (ngSubmit)="showMap()">
        <div class="form-group col-md-12">
            <label for="destination">{{'NewTravel.Startdate'|translate}} </label>
            <input type="date" id="startDate" class="form-control" formControlName="startDate">
        </div>
        <div class="form-group col-md-12">
            <label for="destination">{{'NewTravel.Travelname'|translate}} </label>
            <input type="text" id="travelName" class="form-control" formControlName="travelName">
        </div>
        <div class="form-control" class="col-md-12 radio">
            {{'NewTravel.Transportmode'|translate}}
            <label class="radio-inline">
                <input type="radio" id="driving" name="travelMode" formControlName="travelMode" value="driving" checked>{{'NewTravel.Drive'|translate}}</label>
            <label class="radio-inline">
                <input type="radio" id="walking" name="travelMode" formControlName="travelMode" value="walking">{{'NewTravel.Walk'|translate}}</label>
            <label class="radio-inline">
                <input type="radio" id="bicycling" name="travelMode" formControlName="travelMode" value="bicycling">{{'NewTravel.Cycling'|translate}}</label>
            <label class="radio-inline">
                <input type="radio" id="transit" name="travelMode" formControlName="travelMode" value="transit">{{'NewTravel.Transit'|translate}}</label>
        </div>

        <div class="form-group col-md-12">
            <label for="source">{{'NewTravel.Source'|translate}} </label>
            <input type="text" id="source" #source class="form-control" formControlName="source">
        </div>
        <div class="form-group col-md-12">
            <label for="destination">{{'NewTravel.Destination'|translate}} </label>
            <input type="text" id="destination" #destination class="form-control" formControlName="destination">
        </div>
        <br>
        <div class="col-md-6">
            <button class="btn btn-primary" id="showMap" [disabled]="!searchForm.valid" (click)="showMap()">{{'NewTravel.Showmap'|translate}}</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger" id="onSave" [disabled]="!showmapBoolean" (click)="onSave()">{{'NewTravel.Savetravel'|translate}}</button>
        </div>
    </form>
    <div class="col-md-6">
        <button class="btn btn-primary" id="onReset" (click)="onReset()">{{'NewTravel.Reset'|translate}}</button>
    </div>
</div>

<div class="col-md-12">
    <form>
        <div class="form-group col-md-12">
            <label for="stopover">{{'NewTravel.Addstop'|translate}}</label>
            <input type="text" id="stopover" name="stopover" #stopover required class="form-control">
        </div>
        <br>
        <div class="col-md-12">
            <button class="btn btn-primary" id="addStopOver" [disabled]="!showmapBoolean" (click)="onAddStopover(stopover)">{{'NewTravel.Add'|translate}} </button>
        </div>
    </form>
</div>
<div class="col-md-12">
    <ol id="stopoversList">
        <article *ngIf="directionComponent.sourceStopover" class="panel panel-default">
            <li>
                {{ directionComponent.sourceStopover.city }}
            </li>
        </article>
        <article *ngFor="let stopover of directionComponent.stopovers" class="panel panel-default">
            <li>
                {{ stopover.city }}
            </li>
        </article>
        <article *ngIf="directionComponent.destinationStopover" class="panel panel-default">
            <li>
                {{ directionComponent.destinationStopover.city }}
            </li>
        </article>
    </ol>
</div>