<div id="wrapper" class="row travels-list-page">
    <!-- List of travels -->
    <div id="sidebar-wrapper" class="col-sm-2">
        <div id="sidebar">
            <ul class="nav list-group">
                <li>
                    <a id="add-travel-btn" class="list-group-item" (click)="createNewTrip()">{{'TravelList.New'|translate}}</a>
                </li>
                <li *ngFor="let travel of travelService.travels">
                    <a id="listOfTravels" class="list-group-item" (click)="showTravelDetails(travel)">{{ travel.travelName }}</a>                 
                </li>
            </ul>
        </div>
    </div>

    <div id="travel-details" class="col-sm-4" style="padding: 0;">

        <div [hidden]="newTravel">
            <app-stopover-list [travel]="travelClicked"></app-stopover-list>
            <div style=" height: 500px;" id="directionsList" ng-show="showList" class="panel panel-primary"></div>
        </div>
        

        <div [hidden]="!newTravel" id="newMap-details">
            <new-travel [travels]="travels" [directionComponent]="directionComponent"></new-travel>
        </div>
    </div>


    <div id="googleMap" class="col-sm-6" style="padding: 0;">
        <div class="container-fluid">
            <agm-map #map [latitude]="latitude" [longitude]="longitude" zoom-to-include-markers="auto" [zoom]="zoom"
                id="map">
                <directions></directions>
            </agm-map>
        </div>
    </div>

    
</div>