<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="/assets/logo/TripTrap_logo.png" class="d-inline-block align-top" alt="triptrack-logo" width="30px" height="30px">
        </a>

        <hr>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="isConnected()" class="nav-item active">
                    <a class="nav-link n-l-c" [routerLink]="['/travels']">{{'Header.MyTrip'|translate}}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <div *ngIf="isConnected(); then profileBlock; else signinBlock"></div>
                <ng-template #profileBlock>
                    <li class="nav-item dropdown user-dropdown">
                        <a class="nav-link n-l-c profile-link" href="#" id="userMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span id="displayname-profile"> {{ user.givenName }}</span>
                            <img alt="profile-photo" [src]="profilePhotoUrl" style="border-radius: 5px;" width="25px" height="25px">
                            <!-- <i class="fa fa-user-circle-o fa-fw fa-lg" aria-hidden="true"></i> -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuDropdown" style="margin-top: 7px;">
                            <a class="dropdown-item" [routerLink]="['/user/profile']">
                                <i class="fa fa-id-card-o fa-fw" aria-hidden="true"></i>
                                {{'Header.Profile'|translate}}
                            </a>
                            <div class="dropdown-divider"></div>
                            <!-- <a class="dropdown-item" [routerLink]="['/auth/logout']"/a>> -->
                            <a class="dropdown-item" [routerLink]="['/auth/logout']">
                                <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
                                {{'Header.Logout'|translate}}
                            </a>
                        </div>
                    </li>
                </ng-template>
                <ng-template #signinBlock>
                    <li class="nav-item">
                        <a class="nav-link n-l-c" [routerLink]="['/auth/signin']">
                            {{'Header.Signin'|translate}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link n-l-c" [routerLink]="['/auth/signup']">
                            {{'Header.Signup'|translate}}
                        </a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </nav>
</header>