<div class="offset-sm-1 col-sm-10 signin-container rounded">
    <img src="/assets/logo/TripTrap_logo.png" class="d-inline-block" alt="" width="30px" height="30px">
    <span id="home-page-title" class="d-inline-block align-bottom" style="margin: 0;">{{'SignUpForm.SignTitle'|translate}}</span>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName"></label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="{{'SignUpForm.Firstname'|translate}}">
            <label for="lastName"></label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="{{'SignUpForm.Lastname'|translate}}">
            <label for="email"></label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="{{'SignUpForm.Email'|translate}}">
            <label for="password"></label>
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="{{'SignUpForm.Password'|translate}}">
        </div>
        <div class="cgu">
            <p>
                {{'SignUpForm.Terms'|translate}}
            </p>
        </div>
        <div class="form-group">
            <button class="btn btn-cu btn-cu-w btn-block" type="submit">{{'SignUpForm.Submit'|translate}}</button>
            <a class="btn btn-cu btn-cu-outline-w btn-block" [routerLink]="['../signin']">{{'SignUpForm.Cancel'|translate}}</a>
        </div>
    </form>
</div>